ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ffff;
  border-radius: 20px;
}
li {
  float: left;
  opacity: 1;

}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #962626;
  opacity: .5;
}


.subsection1, .subsection2, .subsection3 {
  border-style: dashed;
  border-color: white;
  border-width: 5px;
  border-radius: 5px;
  text-align: center;
  
}


/* .subsection1, .subsection2, .subsection3,:hover{
  border-style: solid;
  opacity:.75;
  border-color: ;
  border-radius: 10px;
} */

 .para1, .para2, .para3 {
   border-style: solid;
   border-color: pink;
   border-width 7px;
   border-radius: 5px;
   background-color: pink;
 }

.grid {
  display: grid;
  grid-template: 100px / auto auto auto;
  grid-gap: 10px;
  background-color: #FAB6B6;
  padding: 10px;
}

.grid > .para1, .para2, .para3 {
  background-color: #F35B5B;
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}
