*
{
	margin:0;
	padding:0;
	
}

header
{
	
	background-image:linear-gradient(rgba()0,0,0,0,0.5)),rgba(0,0,0,0,0.5)url(pic1.jpg);
	height:100vh;
	background-size:cover;
	background-position:center;
}

.main-nav
{
	
	float:right;
	list-style:none;
	margin-top:30px;
}

.main-nav li
{
	color:white;
	text decoration=:none;
	padding:5x 20px;
	font-family:"Roboto", sans-serif;
	font-size: 15px;
}

.main-nav li: active a
{
	border: 1px solid white;
}

.main-nav li: a hover
{
	
	.logo img
{
	
	width:150px;
	height: auto;
	float: left;
}
	
	body
{
	
	font-family: monospace;
}

.row
{
	
	max-width: 1200px;
	margin: auto;
}
	
	.hero
	{
	
		position: absolute;
		width:1200px;
		margin-left: 0;
		margin-top:0;
	}
	
h1
{
	color:white;
	text-transform:uppercase
	font-size: 70px;
	text-align: center;
	margin-top: 275px;
}
	
	.video1{
  float:left;
  width:50%;
}

.bullyvid1{
  float:right;
  width:300px;
  display: none !important;
}


.video2{
  float:left;
}

.bullyvid2{
  float:left;
}

l {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ffff;
  border-radius: 20px;
}
li {
  float: left;
  opacity: 1;

}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #962626;
  opacity: .5;
}

body {
    font-family: 'ABeeZee';font-size: 22px;
}

h1{
  font-family: 'Actor';
  margin-top: 5%;
}	
